.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header {
  background: url(../img/bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-xs {
  display: none;
}
.center-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stars {
  background-image: url(../img/stars.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.stars:hover {
  cursor: pointer;
}
.stars-empty-star {
  width: 14px;
  height: 14px;
  background-position: -5px -5px;
}
.stars-gold-star {
  width: 14px;
  height: 14px;
  background-position: -29px -5px;
}
.page__wrapper {
  position: relative;
  width: 1270px;
  padding: 0 15px;
}
.page__wrapper .header__about {
  height: 60px;
}
.page__wrapper .header__about ul {
  list-style: none;
  float: right;
  margin-top: 30px;
}
.page__wrapper .header__about ul li {
  display: inline-block;
}
.page__wrapper .header__about ul li:first-child {
  margin-right: 42px;
}
.page__wrapper .header__about ul li a {
  font-family: 'Avenir';
  font-weight: 100;
  font-size: 13px;
  color: #e8e8e5;
  letter-spacing: 0.3px;
}
.page__wrapper .header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 29px;
  width: 100%;
}
.page__wrapper .header__main_logo {
  position: relative;
  height: 70px;
  width: 195px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
}
.page__wrapper .header__main_logo a {
  text-decoration: none;
  position: relative;
}
.page__wrapper .header__main_logo a:first-child {
  font-family: 'NexaHeavy';
  font-size: 25px;
  letter-spacing: 10px;
  color: #fff;
  left: 5px;
}
.page__wrapper .header__main_logo a:last-child {
  font-family: 'Nexa';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffe89c;
  left: 3px;
  top: -2px;
}
.page__wrapper .header__main_title {
  margin-top: 33px;
  text-align: center;
  font-family: 'Avenir';
  color: #fff;
}
.page__wrapper .header__main_title h2 {
  font-weight: 600;
  font-size: 31px;
  line-height: 0.968;
}
.page__wrapper .header__main_title h3 {
  font-size: 22px;
  font-weight: 200;
  margin-top: 18px;
  letter-spacing: 0.7px;
}
.page__wrapper .header__main_search {
  width: 530px;
  margin-top: 32px;
}
.page__wrapper .header__main_search p {
  position: relative;
  font-size: 17px;
  font-family: 'Avenir';
  font-weight: 100;
}
.page__wrapper .header__main_search p img {
  position: absolute;
  right: 22px;
  top: 14px;
}
.page__wrapper .header__main_search p img:hover {
  cursor: pointer;
}
.page__wrapper .header__main_search input {
  width: 100%;
  height: 51px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding-left: 25px;
  letter-spacing: 0.6px;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(50, 50, 50, 0.6);
}
nav ul {
  margin-bottom: 4px;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-size: 15px;
  color: #fff;
  font-family: 'Avenir';
  font-weight: 400;
}
nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
  color: #fff;
}
.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 59px;
  position: relative;
}
.main-content .banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 95px;
  height: 26px;
  background-color: #d63737;
  opacity: 0.902;
  font-family: 'Avenir';
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.main-content .grid {
  padding-bottom: 85px;
}
.main-content .grid-item {
  width: 295px;
  height: auto;
  margin-bottom: 40px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
.main-content .grid-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
.main-content .grid-item_image {
  position: relative;
}
.main-content .grid-item_image_gradient {
  z-index: 2;
  height: 202px;
  width: 295px;
  position: absolute;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(99, 99, 99, 0.3) 39%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(99, 99, 99, 0.3) 39%, rgba(255, 255, 255, 0) 100%);
}
.main-content .grid-item_text {
  padding: 6px 18px 0 23px;
  font-family: 'Avenir';
  color: #484848;
}
.main-content .grid-item_text h5 {
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.main-content .grid-item_text_rating {
  margin-top: -8px;
}
.main-content .grid-item_text_author {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  margin: 10px 0;
}
.main-content .grid-item_text_author span {
  font-style: normal;
  color: #7b431d;
  padding-left: 7px;
}
.main-content .grid-item_text p {
  color: #7e7e7e;
  font-size: 13px;
  line-height: 1.58;
  font-weight: 200;
}
.main-content .grid-item_text_tags {
  font-size: 11px;
  margin-top: 19px;
  padding-bottom: 22px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #f0f0f0;
}
.main-content .grid-item_text_tags ul {
  list-style: none;
  padding: 0;
  margin-left: -9px;
}
.main-content .grid-item_text_tags ul li {
  display: inline-block;
  margin: 0 9px;
  margin-bottom: 12px;
}
.main-content .grid-item_text_tags ul li a {
  color: #767676;
  text-decoration: underline;
  font-weight: 200;
}
.main-content .grid-item_text_review {
  position: relative;
  height: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-content .grid-item_text_review a {
  text-transform: uppercase;
  color: #626262;
  font-size: 12px;
  font-weight: 300;
}
.main-content button {
  width: 251px;
  height: 50px;
  position: absolute;
  bottom: 35px;
  border: 1px solid #b7b7b7;
  background: #fff;
  color: #878787;
  font-family: 'Avenir';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
}
footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer {
  font-family: 'Avenir';
  padding-top: 70px;
  height: 760px;
}
footer .footer h3 {
  color: #ffe89c;
  font-size: 20px;
  font-weight: 300;
}
footer .footer__left {
  width: 46%;
  float: left;
}
footer .footer__left_logo {
  position: relative;
  height: 70px;
  width: 195px;
  margin-bottom: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
}
footer .footer__left_logo a {
  text-decoration: none;
  position: relative;
}
footer .footer__left_logo a:first-child {
  font-family: 'NexaHeavy';
  font-size: 25px;
  letter-spacing: 10px;
  color: #fff;
  left: 5px;
}
footer .footer__left_logo a:last-child {
  font-family: 'Nexa';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffe89c;
  left: 3px;
  top: -2px;
}
footer .footer__left h3 {
  margin-bottom: 20px;
}
footer .footer__left_about {
  width: 435px;
  margin-bottom: 67px;
}
footer .footer__left_about p {
  font-weight: 100;
  color: #ececec;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.7px;
}
footer .footer__left_popular-tags {
  width: 350px;
  font-size: 11px;
  margin-top: 19px;
  padding-bottom: 22px;
  letter-spacing: 0.5px;
}
footer .footer__left_popular-tags ul {
  list-style: none;
  padding: 0;
  margin-left: -9px;
  margin-top: 28px;
}
footer .footer__left_popular-tags ul li {
  display: inline-block;
  margin: 0 9px;
  margin-bottom: 12px;
}
footer .footer__left_popular-tags ul li a {
  color: #d4d4d4;
  text-decoration: underline;
  font-weight: 100;
}
footer .footer__right {
  width: 54%;
  float: right;
}
footer .footer__right h3 {
  margin-top: 0;
}
footer .footer__right_best-rates_item,
footer .footer__right_best-reviews_item {
  position: relative;
  height: 211px;
  width: 211px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-right: 14px;
  display: inline-block;
}
footer .footer__right_best-rates_item:hover,
footer .footer__right_best-reviews_item:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
}
footer .footer__right_best-rates_item:last-child,
footer .footer__right_best-reviews_item:last-child {
  margin-right: 0;
}
footer .footer__right_best-rates_item_opacity,
footer .footer__right_best-reviews_item_opacity {
  z-index: 2;
  height: 211px;
  width: 211px;
  position: absolute;
  top: 0;
  background-color: #564f48;
  opacity: 0.549;
}
footer .footer__right_best-rates_item_opacity:hover,
footer .footer__right_best-reviews_item_opacity:hover {
  opacity: 0;
}
footer .footer__right_best-rates_item_text,
footer .footer__right_best-reviews_item_text {
  position: absolute;
  left: 15px;
  bottom: 16px;
  z-index: 3;
}
footer .footer__right_best-rates_item_text h4,
footer .footer__right_best-reviews_item_text h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
}
footer .footer__right_best-rates_item_text_author,
footer .footer__right_best-reviews_item_text_author {
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  color: #fff;
}
footer .footer__right_best-reviews {
  margin-top: 43px;
}
footer .footer__contacts {
  background-color: #363636;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer__contacts .footer-icons {
  background-image: url(../img/footer-icons.png);
  background-repeat: no-repeat;
  display: block;
}
footer .footer__contacts .footer-icons-facebook {
  width: 7px;
  height: 14px;
  background-position: -5px -5px;
}
footer .footer__contacts .footer-icons-google {
  width: 15px;
  height: 14px;
  background-position: -22px -5px;
}
footer .footer__contacts .footer-icons-mail {
  width: 24px;
  height: 16px;
  background-position: -5px -29px;
}
footer .footer__contacts .footer-icons-pinterest {
  width: 11px;
  height: 14px;
  background-position: -39px -29px;
}
footer .footer__contacts .footer-icons-twitter {
  width: 16px;
  height: 14px;
  background-position: -47px -5px;
}
footer .footer__contacts_items {
  font-family: 'Avenir';
}
footer .footer__contacts_items * {
  display: inline-block;
}
footer .footer__contacts_items a i {
  position: relative;
  top: 2px;
}
footer .footer__contacts_items span {
  color: #fff;
  font-size: 12px;
  margin: 0 12px;
  font-weight: 100;
}
footer .footer__contacts_items ul {
  padding-left: 15px;
}
footer .footer__contacts_items ul li {
  margin-right: 18px;
}
@media (max-width: 1270px) {
  .page__wrapper {
    width: 991px;
  }
  footer .footer__left {
    display: none;
  }
  footer .footer__right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .page__wrapper {
    width: 767px;
  }
}
@media (max-width: 767px) {
  .page__wrapper {
    width: 320px;
  }
  header {
    height: 280px;
  }
  .hide {
    display: none;
  }
  .header {
    display: none;
  }
  .header-xs {
    display: block;
    position: relative;
    height: 280px;
    width: 100%;
  }
  .header-xs__navigation {
    position: relative;
    display: inline-block;
  }
  .header-xs__navigation span {
    position: absolute;
    left: 10px;
    top: 7px;
  }
  .header-xs__navigation span,
  .header-xs__navigation span:before,
  .header-xs__navigation span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
  }
  .header-xs__navigation span:before {
    top: -8px;
  }
  .header-xs__navigation span:after {
    bottom: -8px;
  }
  .header-xs__navigation_menu {
    position: absolute;
    top: 39px;
    left: 0;
    height: 280px;
    padding-left: 20px;
    background-color: #4c4c4c;
    width: 150px;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-xs__navigation_menu_close {
    position: absolute;
    color: #fff;
    right: -32px;
    top: 0;
    font-size: 35px;
    z-index: 3;
  }
  .header-xs__navigation_menu li {
    margin-bottom: 5px;
  }
  .header-xs__logo {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -98px;
    height: 70px;
    width: 195px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #fff;
  }
  .header-xs__logo a {
    text-decoration: none;
    position: relative;
  }
  .header-xs__logo a:first-child {
    font-family: 'NexaHeavy';
    font-size: 25px;
    letter-spacing: 10px;
    color: #fff;
    left: 5px;
  }
  .header-xs__logo a:last-child {
    font-family: 'Nexa';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffe89c;
    left: 3px;
    top: -2px;
  }
  .header-xs__about {
    display: inline-block;
  }
  .header-xs__about_menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 120px;
    background: #4c4c4c;
    color: #fff;
    padding: 15px 0;
    z-index: 3;
  }
  .header-xs__about_menu_close {
    position: absolute;
    color: #fff;
    left: -32px;
    top: 0;
    font-size: 35px;
    z-index: 3;
  }
  .header-xs__about_menu ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    font-family: 'Avenir';
  }
  .header-xs__about_menu ul li {
    margin-bottom: 5px;
  }
  .header-xs__about_menu ul a {
    color: #fff;
  }
  .header-xs__about span {
    position: absolute;
    right: 10px;
    top: 22px;
  }
  .header-xs__about span,
  .header-xs__about span:before {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
  }
  .header-xs__about span:before {
    top: -8px;
  }
  .header-xs__title {
    padding: 0 10px;
    margin-top: 45px;
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-family: 'Avenir';
    color: #fff;
  }
  .header-xs__title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 0.968;
    margin: 0;
  }
  .header-xs__title h3 {
    font-size: 16px;
    font-weight: 200;
    margin-top: 18px;
    letter-spacing: 0.7px;
  }
  .main-content {
    padding-top: 30px;
  }
  footer {
    height: 820px;
  }
  footer .footer {
    padding-top: 20px;
  }
  footer .footer__right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer__right_best-reviews {
    display: none;
  }
  footer .footer__right_best-rates {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__contacts_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__contacts_items span {
    display: none;
  }
}
